.discoverArtist-siderbar-select{
    cursor:pointer;
    font-size: 12px;
    color: #333333;
    padding:4px 10px
}
.discoverArtist-siderbar-selected{
    cursor:pointer;
    font-size: 12px;
    color: #c20c0c;
    border: 1px solid #D3D3D3;
    padding:4px 10px

}
