.enterSinger{
    padding: 20px;
}
.enterSinger-header{
    padding-bottom: 10px;
    border-bottom:1px solid #dbdbdb;
}
.enterSinger-header-name{
    color: #000;
    font-weight: bold;
}
.enterSinger-header-more{
    font-size:12px;
    cursor: pointer;
    text-align:right;
}

.enterSinger-content{
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    border: 1px solid #E9E9E9; 
    
}
.enterSinger-content-img{
    width: 100% ;
    height: 100%;
}
.enterSinger-content-name{
    font-size:14px;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.enterSinger-content-alias{
    font-size: 12px;
    margin-left: 10px;
}

.enterSinger-footer{
    text-align: center ;
    padding-top:10px;
}






