
.wrapped{
    min-width: 1150px;
    background-color:  #F2F2F2;
    margin-top:0px;
}
.main{
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    background-color:#fff
}
.content{
    padding-left: 30px;
    padding-right: 30px; 
    padding-bottom: 0px;
    border-right:1px solid #D3D3D3;

}